################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ObjectGraph.Core/bin
/ObjectGraph.Core/ObjectGraph.Core.csproj.user
/ObjectGraph.Core/ObjectGraph.Core.xml
/ObjectGraph.Core/obj

/ObjectGraph.Interfaces/bin
/ObjectGraph.Interfaces/ObjectGraph.Interfaces.xml
/ObjectGraph.Interfaces/obj

/ObjectGraph.Tests/bin
/ObjectGraph.Tests/obj
