################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ObjectGraphCore/obj
/ObjectGraphInterfaces/obj
/ObjectGraphCore.Tests/obj
/ObjectGraphCore/bin
/ObjectGraphCore/ObjectGraph.Core.xml
/ObjectGraphCore.Tests/bin
/ObjectGraphInterfaces/bin
/ObjectGraphInterfaces/ObjectGraph.Interfaces.xml
